@{
    ViewBag.Title = "编辑";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}
@model ApplicationLayer.EntityDto.BaseDto.ModelEntityDto

<div class="wrapper wrapper-content container" id="app" style="width:100%;overflow-y:hidden;">
     
    <form method="get" class="form-horizontal form" id="formModel">
        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.columnName)：</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.columnName, new { @class = "form-control disabled"})
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.txt_Number)：</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.txt_Number)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.columnSpan)：</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.columnSpan)
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.displayShowName)：</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.displayShowName)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.defaultValue)：</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.defaultValue)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.isRequest)：</label>
            <div class="col-sm-8">
                @*@Html.TextBoxFor(m => m.isRequest)*@
                <select id="isRequest" name="isRequest" class="form-control">
                    <option v-bind:value="Y.key" v-for="Y in YS">{{Y.value}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.isDisable)：</label>
            <div class="col-sm-8">
                @*@Html.TextBoxFor(m => m.isDisable)*@
                <select id="isDisable" name="isDisable" class="form-control">
                    <option v-bind:value="Y.key" v-for="Y in YS">{{Y.value}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.isCombobox)：</label>
            <div class="col-sm-8">
                @*@Html.TextBoxFor(m => m.isCombobox)*@
                <select id="isCombobox" name="isCombobox" class="form-control">
                    <option v-bind:value="Y.key" v-for="Y in YS">{{Y.value}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.meunType)：</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.meunType)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">@Html.LabelFor(m => m.meunTable)：</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.meunTable)
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-info" type="submit" id="btnSave">添加</button>
                <button class="btn btn-white" type="button" id="btnBack" data-type="window">返回</button>
            </div>
        </div>*@
    </form>
</div>

<script type="text/javascript">


    $(function () {
        new Vue({
            el: '#app',
            data: {
                YS: [
                    { key: 'Y', value: '是' },
                    { key: 'N', value: '否' }
                ]
            }
        });


        $("#isRequest").val('@Model.isRequest');
        $("#isDisable").val('@Model.isDisable');
        $("#isCombobox").val('@Model.isCombobox');

        $("input[type=text]").addClass("form-control");

        $("#btnBack").click(function () {
            window.parent.Test();
        });


    });


</script>